body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
h1{
    text-align: center;
    background-color: aliceblue;
    width: max-content;
}
.wrapper{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.61);
    -webkit-box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 6px 5px 20px 1px rgba(0,0,0,0.61);
}
footer{
    text-align: center;
}